[submodule "frontend"]
	path = frontend
	url = https://github.com/DmitryShetinin/ChessEngine-FrontEnd
[submodule "backend"]
	path = backend
	url = https://github.com/DmitryShetinin/ChessEngine-BackEnd
